.member-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    width: 100%;
    column-gap: 40px;
    row-gap: 40px;
    justify-content: center;
}

.member-card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.member-description {
    background-color: #f7efdf;
    color: #344b37;
    padding: 20px;
    line-height: 1.5rem;
    ;
    height: 100%;

    font-weight: 100;
    display: grid;
    grid-template-rows: repeat(4, min-content);

    h3,
    h4,
    p {
        margin: 0;

    }

    h3 {
        font-size: 24px;
        font-weight: bold;
        text-align: start;

      

       
        

    }

    h4 {
        font-size: 20px;
        font-weight: normal;

    }

    p {
        font-size: 16px;
        font-weight: lighter;

    }
    a {
        color: #0d4413;
        font-weight: normal;
        margin: 0;
        padding: 0;
        margin-inline : 5px;
    }

    span{
        align-self: flex-end;
    }

}